.select-menu {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: var(--radius);
  width: 20vw;
  height: 20vw;
  min-width: 340px;
  min-height: 340px;
  max-width: 600px;
  max-height: 600px;
  margin: 10px;
  padding: 5px;
  background: var(--background);
  border: 1px solid black;
}

.select-menu-header {
  font-size: 1.5em;
  margin-bottom: 10px;
  display: flex;
  font-weight: 100;
}

.select-menu-header > div {
  padding: 0px 5px 10px 5px;
  background-color: var(--foreground);
  opacity: 0.5;
  margin-right: 5px;
  border-radius: var(--radius);
  color: lightgray;
  cursor: pointer;
  user-select: none;
}

.selected {
  opacity: 1 !important;
  color: gray !important;
}

#select-menu-body {
  margin-top: -25px;
  background-color: var(--foreground);
  height: calc(100% - 80px);
  border-radius: var(--radius);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;
}

#select-menu-search {
  width: calc(100% - 15px);
  height: 30px;
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 5px;
  background: transparent;
}

#select-menu-search:focus {
  outline: none;
}

.voxel {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  outline: 1px solid #b0b0b0;
}

.voxel:hover {
  border: 4px solid #b0b0b0;
  margin: 6px;
}
